@use "abstracts" as *;

.section {
  padding-block: var(--section-space);
}

.body {
  @include grid;
  margin-top: clamp(3rem, 7vw, 7rem);
}

.slider {
  grid-column: 1 / -1;

  @include mq(lg) {
    grid-column: 6 / -1;
  }
}
