@use "abstracts" as *;

.heading {
  @include heading-base;
  color: inherit;
}

.display {
  @include type-size(display);
}

.xl {
  @include type-size(xl);
}

.lg {
  @include type-size(lg);
}

.md {
  @include type-size(md);
}

.sm {
  @include type-size(sm);
}

.line {
  display: block;

  // Uvlačenje narednih redova — vrednost dolazi iz `indent` prop-a
  & + & {
    padding-left: calc(var(--indent, 0em) * 0.5);

    @include mq(md) {
      padding-left: var(--indent, 0em);
    }
  }
}
